[submodule "RV32_SoC"]
	path = RV32_SoC
	url = https://github.com/Nehal-2/RV32_SoC.git
[submodule "Peripherals/uart_uvc"]
	path = Peripherals/uart_uvc
	url = https://github.com/RedaM4/uart_wb_uvcs.git

[submodule "Peripherals/uart_uvc/core-verification"]
	path = Peripherals/uart_uvc/core-verification
	url = https://github.com/google/riscv-dv.git






[submodule "Peripherals/i2c_uvc"]
	path = Peripherals/i2c_uvc
	url = https://github.com/yaserc33/Wishbone_x_I2C.git

[submodule "Peripherals/spi_uvc"]
	path = Peripherals/spi_uvc
	url = https://github.com/RahafQahtani/SPI-UVM-.git
[submodule "Peripherals/gpio_uvc"]

	path = Peripherals/gpio_uvc
	url = https://github.com/Mashael29/GPIO.git
# [submodule "Peripherals/pwm_uvc"]
# 	path = Peripherals/pwm_uvc
# 	url = https://github.com/s7hd/ptc.git
# [submodule "Peripherals/pwm_uvc/DUTingration-rahafandshody"]
#     path = Peripherals/pwm_uvc/DUTingration-rahafandshody
#     url = ...


# git submodule add https://github.com/yaserc33/i2c_uvc.git Peripherals/i2c_uvc
#git submodule update --init --recursive
